body {
    margin: auto;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
}
ul {
    list-style: circle;
}
ul > ul {
    list-style: disc;
}
.header > img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 250px;
    opacity: 30%;
}
.header {
    position: relative;
    font-family: "Roboto Slab",Georgia, 'Times New Roman', serif;
    font-size: 2em;
    width: auto;
    margin: 0 0 2em;
    padding: 1.5em 2em 2em;
    background-color: #1B262C;
    color: white;
    text-align: left;
    height: 150px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 90%;
    overflow-y: hidden;
    overflow-x: auto;
    margin: auto;
    /* grid-template-columns: auto auto auto; */
    gap: 10px;
}
a {
    width: 150px;
    text-align: center;
    color: #1B262C;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    margin: 2em 2em;
    border-radius: 20px;
    transition: .3s ease-out;
}
a > * {
    margin: 0;
}
a > .button > img {
    width: auto;
    height: 150px;
}
a > .button > hr {
    width: 30%;
    border: 1.5px solid #1B262C;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease-in;
}
a:hover {
    background-color: #cbcbcb36;
    transition: .3s ease-in;
}
a:hover > .button > hr {
    width:50%;
    transition: .3s ease-out;
}
