body {
    margin: auto;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
    padding-bottom: 50px;
}
ul {
    padding-left: 1.5em;
}
.header {
    margin: 0 0 6em;
    padding: 3em 2em 2em;
    background-color: #1B262C;
    color: white;
}
.header > .head-content {
    margin: 2em;
    padding-left: 7em;
    text-align: left;
}
.head-content > p{
    font-size: .7em;
}
.header > .head-content > * {
    display: inline-block;
    font-weight: 500;
    margin: 0;
}
img {
    float: right;
    right: 50px;
    width: auto;
    height: 200px;
    border-radius: 200px;
    border: 10px solid #1B262C;
}
.content {
    width: 80%;
    margin: auto;
    padding: 3em;
    color: #1f1f1f;
    background-color: #f9f9f9;
    border-radius: 20px;
}
.content > .profile {
    margin: 0;
}
.content > .profile > p {
    text-align: justify;
    text-indent: 3em;
}
.content > * {
    padding: 1em;
}
.content div {
    margin: 3em 0;
}
.content > .grid-section {
    position: relative;
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 0 0 .5em;
}
.grid-section > .column {
    margin: 0 1em 0;
}
.grid-section > .column > *{
    overflow: auto;
}
.grid-section > .left > * > h1 {
    font-size: 1.3em;
}
.grid-section > .right {
    margin-right: 0;
    padding-left:2em;
    padding-right:0;
    border-left: 1.5px solid #1B262C;
}

.grid-section  * > h1 {
    font-size: 1.7em;
    color: #1B262C;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.grid-section * > h2 {
    font-size: 1.3em;
    margin-bottom: 3px;
    font-weight: lighter;
}
.grid-section * > p {
    margin-top: 3px;
}
.grid-section * > .subtitle {
    font-size: .8em;
}

hr {
    margin-top: 0;
    border: 1px solid #1B262C;
    margin-left: 0;
}