body {
    margin: auto;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
}
ul {
    list-style: circle;
}
ul > ul {
    list-style: disc;
}
h1{
    font-family: "Roboto Slab",Georgia, 'Times New Roman', serif;
}
.header {
    width:auto;
    margin: 0 0 2em;
    padding: 1.5em 2em 2em;
    background-color: #1B262C;
    color: white;
}
.header > h1 {
    text-align: center;
}

.gallery {
    width: 80%;
    overflow: auto;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.gallery > * {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
.link-img-container {
    position: relative;
    text-decoration: none;
    padding: 0;
    width: auto;
    height: 150px;
    border-radius: 20px;
}
.link-img-container > img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: #656565;
}
.overlay {
    position: absolute;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 5px 0;
    top: 0;
    left: 0;
    font-size: 10px;
    width: 100%;
    background-color: #1B262C;
    color: white;
    text-align: center;
    opacity: 0;
}
.link-img-container:hover > .overlay {
    opacity: 1;
}
.link-img-container:hover > img {
    opacity: .8;
}

hr {
    width: 70%;
    border: 1.5px solid #1B262C;
    border-radius: 100px;
}