body {
    margin: auto;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
}
h1{
    font-family: "Roboto Slab",Georgia, 'Times New Roman', serif;
}
.header {
    margin: 0 0 1em;
    padding: 1em 0 2em;
    background-color: #1B262C;
    color: white;
}
.header > h1 {
    width: 30%;
    margin:auto;
    text-align: center;
}

.section {
    position: relative;
    width: 90%;
    height: fit-content;
    margin: 3em auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px 500px;
    gap: 10px;
}
.section > .genre {
    position: relative;
    background-color: #ebebeb;
    border-radius: 20px;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.section > .genre > .img {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #929292;
    border-radius: 200px;
}
.section > .genre > .info {
    margin-left: 7px;
}
.section > .genre > .info > *{
    margin: 0;
}
.section > .genre > .img > img{
    width: inherit;
    height: inherit;
    object-fit: fill;
}

.section > .sample {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    gap: 30px;
    background-color: #ebebeb;
    border-radius: 20px;
    padding: 50px;
}
.section > .sample > .content{
    position: relative;
    width: 300px;
    height: 350px;
    text-align: left;
}
.section > .sample > .content > h3, .section > .sample > .content > p{
    margin: 0;
}
.section > .sample > .content > img{
    margin: auto;
    object-fit: cover;
    width: inherit;
    height: 300px;
}
.section > .sample > .content > audio{
    margin-top: 5px;
}