/* html, body {
    width: 100%;
} */
body {
    margin: auto;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
    overflow-x: hidden;
}
.header {
    position: relative;
    font-family: "Roboto Slab",Georgia, 'Times New Roman', serif;
    width: auto;
    margin: 0 0 2em;
    padding: 1em;
    background-color: #1B262C;
    color: white;
    height: fit-content;
}
.header > h1 {
    text-align: center;
    width: 40%;
    margin: auto;
}

.image-map {
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: auto;
    justify-items: right;
}
.image-map > *{
    background-color: #ebebeb;
    border-radius: 20px;
}

.collage-container {
    padding: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.collage-container > .collage-img {
    width: 500px;
    height: 400px;
}

.image-map > .desc {
    position: relative;
    padding: 30px;
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: all .3s ease;
}

.image-map > .desc > img {
    width: 40px;
}

.desc.desc-show {
    transition: all .3s ease;
    transform: scaleX(1);
}