body {
    margin: auto;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
    /* background-color: #1B262C; */
}
h1{
    font-family: "Roboto Slab",Georgia, 'Times New Roman', serif;
}
.header {
    position: relative;
    padding: 1em 0;
    width: 100%;
    background-color: #1B262C;
    color: white;
    height: fit-content;
}
.header > h1 {
    /* width: 30%; */
    padding-left: 3em;
    margin:auto;
    text-align: left;
}

/* .section {
    position: relative;
    width: 90%;
    height: fit-content;
    margin: 3em auto;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-auto-rows: 700px;
    gap: 20px;
}
.section > *{
    position: relative;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 20px;
}
.section > .cover {
    overflow-x: auto;
    height: 500px;
    box-shadow: 5px -5px #1B262C inset;
}
.section > .cover > div{
    width: fit-content;
    margin: auto;
}
.section > .cover > div > img{
    position: relative;
    display: inline-block;
    width: auto;
    height: 400px;
    margin: 16px auto auto;
    object-fit: cover;
}


.section > .clips {
    overflow-x: auto;
    box-shadow: -5px -5px #1B262C inset;
    display: grid;
    grid-template-rows: 50% 50%;

}
.section > .clips > div {
    overflow-x: inherit;
    position: relative;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.section > .clips > div > h3 {
    text-align: left;
    margin-top: 0;
    padding-left: 15%;
}
.section > .clips > div > video{
    overflow-y: hidden;
    display: inline-block;
    margin: auto;
    width: 70%;
    height: auto;
} */
/* 
.film-container {
    display: flex;
    flex-wrap: nowrap;
} */

.film {
    position: relative;
    background-image: url('../imgs/breaking-bad-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    background-color: #1B262C;

}
.film > .text {
    padding-top: 3em;
    padding-left: 5em;
    width: 55%;
    margin-bottom: 2em;
}
.film > .text > *{
    font-weight: lighter;
    margin: 0 0 10px;
    text-align: left;
}
.film > .text > h1 {
    margin-bottom: 0;
    display: inline-block;
    font-size: 5em;
    font-weight: initial;
}
.film > .text > h1 {
    margin: 0;
}
.film > .clips {
    position: relative;
    overflow-x: auto;
    width: 87%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.film > .clips > video {
    width: 300px;
    height: auto;
}
.film > .next-button {
    position: absolute;
    right: 20px;
    top: 40%;
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    background-color: black;
}
.film > .prev-button {
    position: absolute;
    left: 20px;
    top: 40%;
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    background-color: black;
}
.film > .next-button:hover, .film > .prev-button:hover {
    background-color: aliceblue;
    transition: .3s ease;
}
