html,body {
    width: 100%;
    height: 100%;
}
body {
    margin: auto;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
}
h1{
    font-family: "Roboto Slab",Georgia, 'Times New Roman', serif;
}
.header {
    position: relative;
    padding: 1em 0;
    width: 100%;
    background-color: #1B262C;
    color: white;
}
.header > h1 {
    padding-left: 3em;
    margin:auto;
    text-align: left;
}

.types {
    position: relative;
    margin-top: 5px;
    display: flex;
    font-size: 1.3em;
    padding-left: 20px;
}
.types > a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.types > a::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: white;
    height: 1.7px;
    width: 0;
}
.types > a:hover::after{
    width: 80%;
    left: 0;
    transition: .3s ease;
}
.types > .active::after{
    width: 80%;
    left: 0;
}

.film-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    height: 100%;
}
.film {
    display: inline;
    position: relative;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1B262C;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 80% 20%;
    overflow: hidden;
}
.film-container.film1 > .film:nth-child(1) > .info{
    background-image: linear-gradient(to right,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), linear-gradient(to left,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), url('../imgs/breaking-bad-cover-upscaled.jpeg'); 
}
.film-container.film1 > .film:nth-child(1) > .info > a > img {
    width: 40%;
    height: auto;
}
.film-container.film1 > .film:nth-child(2) > .info{
    background-image: linear-gradient(to right,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), linear-gradient(to left,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), url('../imgs/Bleach-TYBW-upscaled.jpeg'); 
}
.film-container.film1 > .film:nth-child(2) > .info > a > img {
    width: 40%;
    height: auto;
}
.film-container.film1 > .film:nth-child(3) > .info{
    background-image: linear-gradient(to right,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), linear-gradient(to left,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), url('../imgs/soul-eater-cover.jpg');
    background-position: center top 20%;
}
.film-container.film1 > .film:nth-child(3) > .info > a > img {
    margin-top: 5%;
    margin-bottom: 30px;
    width: 50%;
    height: auto;
}

.film-container.film2 > .film:nth-child(1) > .info {
    background-image: linear-gradient(to right,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), linear-gradient(to left,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), url('../imgs/pirates-caribbean-cover.jpg');
}
.film-container.film2 > .film:nth-child(1) > .info > a > img{
    margin-top: 20px;
    width: 80%;
    height: auto;
}
.film-container.film2 > .film:nth-child(2) > .info {
    background-image: linear-gradient(to right,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), linear-gradient(to left,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), url('../imgs/silent-voice-cover.jpg');
}
.film-container.film2 > .film:nth-child(2) > .info > h1 {
    margin-top: 40px;
    font-size: 6em;
}
.film-container.film2 > .film:nth-child(3) > .info {
    background-image: linear-gradient(to right,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), linear-gradient(to left,rgba(27, 38, 44,.7) 20%, rgba(1,1,1, 0)), url('../imgs/spirited-away-cover.jpg');
}
.film-container.film2 > .film:nth-child(3) > .info > a > img{
    margin-bottom: 20px;
}

.film > .info {
    padding-left: 5em;
    padding-right: 2em;
    width: 1fr;
    height: 100%;
    font-family: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.film > .info > a {
    position: relative;
    width: fit-content;
    height: auto;
}
.film > .info > a > img {
    vertical-align: top;
    object-fit: contain;
    width: 60%;
    height: auto;
}
.film > .info > *{
    margin: 0 0 10px;
    text-align: left;
    font-family: inherit;
}
.film > .info > h1 {
    margin-top: 3em;
}
.film > .info > p {
    text-align: justify;
    width: 50%;
    overflow-y: auto;
}
.film > .clips {
    position: relative;
    overflow-x: auto;
    width: 95%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
    gap: 5px;
}
.film > .clips > video {
    background-color: black;
    object-fit: contain;
    vertical-align: center;
    width: 100%;
    height: 10em;
}

.film > .next-button, .film > .prev-button {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    padding: 10px;
    top: 40%;
}

.film > .next-button, .film > .prev-button {
    opacity: .5;
}
.film > .next-button {
    right: 20%;
}
.film > .prev-button {
    left: 5px;
    transform: rotate(180deg);
}
.film > .next-button:hover, .film > .prev-button:hover {
    opacity: 1;
    background-color: #dddddd0d;
    transition: all .3s ease;
}
.film > .next-button > img, .film > .prev-button > img {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}