body {
    margin: auto;
    font-family: Verdana, Tahoma, sans-serif;
}
ul {
    list-style: circle;
}
ul > ul {
    list-style: disc;
}
h1{
    font-family: Georgia, 'Times New Roman', serif;
}
.header {
    margin: 0 0 2em;
    padding: 1.5em 2em 2em;
    background-color: #1B262C;
    color: white;
}
.header > h1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}