html, body {
    width: 100%;
}
body {
    margin: auto;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
    overflow-x: hidden;
    background-color: white;
}
.header {
    position: relative;
    font-family: "Roboto Slab",Georgia, 'Times New Roman', serif;
    width: auto;
    margin: 0 0 2em;
    padding: 1em;
    background-color: #1B262C;
    color: white;
    height: fit-content;
}
.header.travel {
    margin-bottom: 0;
}
h1 {
    font-family: "Roboto Slab",Georgia, 'Times New Roman', serif;
}
.header > h1 {
    text-align: left;
    width: 80%;
    margin: auto;
}

.image-map {
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: auto;
    justify-items: right;
}
.image-map > *{
    background-color: #ebebeb;
    border-radius: 20px;
}

.collage-container {
    padding: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.collage-container > .collage-img {
    width: 500px;
    height: 400px;
}

.image-map > .desc {
    position: relative;
    padding: 30px;
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: all .3s ease;
}
.image-map > .desc > p > span{
    display:inline-block;
    text-align: justify;
}
.image-map > .desc > img {
    position: absolute;
    top: 0;
    right: 5%;
    width: 40px;
}

.desc.desc-show {
    transition: all .3s ease;
    transform: scaleX(1);
}


.reasons-container {
    position: relative;
    /* margin: auto auto 25px; */
    /* margin: auto; */
    text-align: center;
    display: grid;
    grid-template-rows: 50% auto;
    grid-auto-columns: 100%;
    height: 100svh;
    background-color: #1B262C;
}
.reasons-container > a {
    display: relative;
    background-color: #1B262C;
    height: 100%;
    width: 100%;
}
.reasons-container > .section > a{
    display: relative;
    background-color: #1B262C;
    width: fit-content;
    margin: auto;
}
.reasons-image-landscape{
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* margin-bottom: 20px; */
}

.reasons-image-portrait {
    margin: 0 10px;
    object-fit: cover;
    width: 300px;
    height: 100%;
}
.reasons-container > .section > a {
    height: inherit;
}


.reasons-container > .section-container {
    position: relative;
    /* top: 50%;
    left: 0;
    right: 0; */
    /* margin: auto; */
    width: auto;
    height: fit-content;
    background-color: #1B262C;
    padding: 30px;
    /* border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}

.reasons-container > .section-container > .section{
    position: relative;
    color: white;
    padding: 30px;
    height: auto;
    width: 70%;
    margin: auto;
    padding: 2em 7em;
}
.reasons-container > .section-container > .section::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px auto;
    content: "";
    width: 60%;
    height: 2px;
    background-color: white;
}
/* .reasons-container > .section-container > .section.v2{
    background-color: white;
    color: #1B262C;
} */
.reasons-container > .section-container > .section > h1 {
    text-align: left;
}
.reasons-container > .section-container > .section > p{
    /* text-indent: 5em; */
    text-align: justify;
}
/* .reasons-container > .section-container > .section.v2 > p {
    font-weight: bold;
} */