div.header > a.home {
    float: left;
    margin-left: 2em;
    height: 40px;
    width: 40px;
}
div.header > a.home > img {
    width: auto;
    height: 40px;
}
div.header > a.home:hover{
    border-radius: 100px;
    background-color: #cbcbcb36;
    transition: .3s ease-in;
}
.goto {
    position: relative;
    text-align: center;
    margin-bottom: 5px;
}
.navigation{
    color: #1B262C;
    font-size:15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1.5px solid #1B262C;
    border-radius: 30px;
}
.navigation:hover {
    background-color: #1B262C;
    color: white;
    transition: .3s ease;
}
.navigation.top {
    display: inline-block;
    position: relative;
    padding: 5px 7px 0;
    width: 100px;
    height: 30px;
    border: none;
}
.navigation.top:hover {
    color: #1B262C;
    background-color: #cbcbcb36;
    transition: .3s ease;
}
.navigation.top > img {
    position: relative;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin: auto 3px 0 auto;
}


.img-container {
    width: 70%;
    margin:auto auto 5px;
}
.img-container2 {
    width: 100%;
    margin:auto auto 5px;
}
.img-size1{
    width:auto;
    height:200px;
}
.img-size2{
    width:auto;
    height:110px;
}
.img-size3{
    width:auto;
    height:150px;
}
.img-size4{
    width:auto;
    height:170px;
}